@tailwind base;
@tailwind components;
@tailwind utilities;
body {
	background-color: #27272a;
	text-rendering: optimizeLegibility;
}
* {
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}
.icon-replit {
  padding: 13%;
  filter: invert(88%) sepia(100%) saturate(0%) hue-rotate(324deg) brightness(104%) contrast(102%);
}
.icon-replit-hover {
	padding: 13%;
	filter: invert(24%) sepia(6%) saturate(640%) hue-rotate(202deg) brightness(95%) contrast(94%);
}
::selection {
	color: black;
	background-color: rgb(203, 213, 225);
}