@tailwind base;
@tailwind components;
@tailwind utilities;
body {
	background-color: #27272a;
	text-rendering: optimizeLegibility;
}
* {
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}
.bi-replit::before {
  display: inline-block;
  content: "";
  vertical-align: -.125em;
  background-image: url("/img/replit.svg");
  background-repeat: no-repeat;
  background-size: 1rem 1rem;
}
.jsx-4131126525 {
	fill: white;
	padding: 20%;
}
.jsx-4131126525new {
	padding: 20%;
	fill: rgb(63,63,70)
}
::selection {
	color: black;
	background-color: rgb(203, 213, 225);
}